DROP TABLE albums;

CREATE TABLE `albums` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=latin1;

INSERT INTO albums VALUES("12","Album2","2015-07-10 00:35:26","2015-07-09 19:05:26");
INSERT INTO albums VALUES("13","Album1","2015-07-10 00:35:18","2015-07-09 19:05:18");
INSERT INTO albums VALUES("15","Album4","2015-07-10 00:37:27","2015-07-09 19:07:27");
INSERT INTO albums VALUES("16","Album5","2015-07-10 00:36:04","2015-07-09 19:06:04");
INSERT INTO albums VALUES("17","album6","2015-07-10 00:37:32","2015-07-09 19:07:32");
INSERT INTO albums VALUES("18","Album7","2015-07-18 21:01:57","2015-07-18 21:01:57");
INSERT INTO albums VALUES("19","video_album2","2015-07-21 12:57:43","2015-07-21 12:57:43");
INSERT INTO albums VALUES("20","fdsfsdfsd","2015-09-20 16:37:42","2015-09-20 16:37:42");
INSERT INTO albums VALUES("21","dfsdf","2015-09-20 16:38:51","2015-09-20 16:38:51");



DROP TABLE download;

CREATE TABLE `download` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `file` varchar(255) NOT NULL,
  `status` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;

INSERT INTO download VALUES("3","change ","snQ4dmVKtpphpBRrD6jPM.jpg","1","2015-09-26 18:27:37","2015-09-26 18:27:37");



DROP TABLE featured_pages;

CREATE TABLE `featured_pages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `page_label` varchar(255) NOT NULL,
  `page_title` varchar(255) NOT NULL,
  `page_content` text NOT NULL,
  `banner` varchar(255) NOT NULL,
  `tags` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;

INSERT INTO featured_pages VALUES("1","Principal Message","principal Message","It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for \'lorem ipsum\' will uncover many web sites still in their infancy. ","","","2015-10-03 12:41:14","0000-00-00 00:00:00");
INSERT INTO featured_pages VALUES("2","Admission","principal Message","<p>ddf</p>\n","YUjLFk3o7qblack-shirt-for-men-with-designman-----clothing-wear-punjabi-punch-ngjl0lat.jpg","fdfg,fdgdfg,df,g,dfg,fd,gfgfdg","2015-10-01 15:50:07","2015-10-01 15:50:07");
INSERT INTO featured_pages VALUES("3","Price","principal Message","<p>ddf</p>\n","FsUdItyVe8black-shirt-for-men-with-designman-----clothing-wear-punjabi-punch-ngjl0lat.jpg","","2015-10-01 15:50:54","2015-10-01 15:50:54");
INSERT INTO featured_pages VALUES("4","Events","principal Message","ddf","","","2015-10-01 15:20:39","0000-00-00 00:00:00");
INSERT INTO featured_pages VALUES("5","Teachers","principal Message","ddf","","","2015-10-01 15:20:39","0000-00-00 00:00:00");



DROP TABLE news;

CREATE TABLE `news` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `news_category_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `status` int(11) NOT NULL,
  `tags` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;

INSERT INTO news VALUES("1","5","ME Department of CT Group of Institutions is going to organize One Day Workshop on cutting edge.","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. ghg</p>\n\n<p>ghgfh</p>\n\n<p>fghfgh</p>\n\n<p>gfhfgh</p>\n\n<p>f ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve&nbsp;ghfgh i am the php delve&nbsp;fghfgh i am the php delve</p>\n","1","dfds,df,dfd,fdsf,sdf,sdfdf,hfgh","2015-10-03 16:48:27","2015-07-26 14:37:42");
INSERT INTO news VALUES("2","4","Hello here will be some recent news","At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum\n                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non\n                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum\n                    fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet,\n                    consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.\n                    Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem\n                    ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce\n                    condimentum eleifend enim a feugiat.","1","dff,rtr","2015-07-26 13:23:24","2015-07-23 23:49:42");
INSERT INTO news VALUES("3","5","ME Department of CT Group of Institutions is going to organize One Day Workshop on cutting edge.","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>\n","1","fgfdg,rtrt,reter,tre,t,er,ter,tret,ert,ertre,trew","2015-10-03 16:50:31","2015-10-03 16:50:31");
INSERT INTO news VALUES("4","4","Hello here will be some recent news","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum\n                       deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non\n                       provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum\n                       fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet,\n                       consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.\n                       Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem\n                       ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce\n                       condimentum eleifend enim a feugiat.</p>\n","1","df","2015-07-26 00:52:01","2015-07-25 19:12:24");
INSERT INTO news VALUES("6","4","Hello here will be some recent news","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum\n                       deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non\n                       provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum\n                       fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet,\n                       consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.\n                       Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem\n                       ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce\n                       condimentum eleifend enim a feugiat.</p>\n","1","fgfd","2015-07-26 00:51:54","2015-07-25 19:19:09");
INSERT INTO news VALUES("7","4","Hello here will be some recent news","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum\n                       deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non\n                       provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum\n                       fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet,\n                       consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.\n                       Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem\n                       ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce\n                       condimentum eleifend enim a feugiat.</p>\n","1","","2015-07-26 00:51:56","2015-07-25 19:19:33");
INSERT INTO news VALUES("8","4","gopal kumar with the principle of ramgarhia institute of engg college","<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>\n","1","dfds,df,dfd,fdsf,sdf,sdfdf,hjhgj,hjhg,jhgjgh","2015-09-26 16:37:28","2015-09-26 16:37:28");
INSERT INTO news VALUES("9","5","ME Department of CT Group of Institutions is going to organize One Day Workshop on cutting edge.","<p>ghgfhgfhgfh</p>\n","1","ghgh","2015-10-03 16:50:13","2015-10-03 16:50:13");
INSERT INTO news VALUES("10","4","fgf","<p>rtretret</p>\n","1","rtretr","2015-09-20 19:00:25","2015-09-20 19:00:25");
INSERT INTO news VALUES("11","4","tyrt","<p>tytrytry</p>\n\n<p>tr</p>\n\n<p>yt</p>\n\n<p>ry</p>\n\n<p>tr</p>\n","0","tytry,rty,tr,y,rtyrtytr","2015-09-20 19:03:28","2015-09-20 19:03:28");



DROP TABLE news_category;

CREATE TABLE `news_category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `icon` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;

INSERT INTO news_category VALUES("1","Festival","fa fa-bomb","2015-10-03 12:33:50","2015-10-03 12:33:50");
INSERT INTO news_category VALUES("2","Notice Board","fa fa-clone","2015-10-03 12:35:00","2015-10-03 12:35:00");
INSERT INTO news_category VALUES("3","Admission","fa fa-pencil","2015-10-03 12:34:34","2015-10-03 12:34:34");
INSERT INTO news_category VALUES("4","Spot Light","fa fa-lightbulb-o","2015-10-03 12:35:41","2015-10-03 12:35:41");
INSERT INTO news_category VALUES("5","Latest News","fa fa-calendar-o","2015-10-03 12:36:03","2015-10-03 12:36:03");



DROP TABLE pages;

CREATE TABLE `pages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parent_id` int(11) NOT NULL,
  `page_label` varchar(255) NOT NULL,
  `page_title` varchar(255) NOT NULL,
  `page_content` text NOT NULL,
  `status` int(11) NOT NULL,
  `tags` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `banner` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=latin1;

INSERT INTO pages VALUES("3","0","About us","About Us","<p>About us</p>\n","1","","2015-09-25 00:44:38","2015-09-25 00:44:38","mALyc6VYDdphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("4","3","About Society","About Society","<p>About Society</p>\n","1","","2015-09-24 23:56:56","2015-09-24 23:56:56","vJEOdL1urEphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("5","3","Mission & Vission","Mission & Vission","<p>Mission &amp; Vission</p>\n","1","","2015-09-24 23:58:17","2015-09-24 23:58:17","ar2IYlk0IdphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("6","3","Board Of Governers","Board Of Governers","<p>Board Of Governers</p>\n","1","","2015-09-24 23:58:45","2015-09-24 23:58:45","ky4cY8HAOxphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("7","3","Chairman\'s Message","Chairman\'s Message","<p>Chairman&#39;s Message</p>\n","1","","2015-09-24 23:59:38","2015-09-24 23:59:38","sjgWtvB4typhpBRrD6jPM.jpg");
INSERT INTO pages VALUES("8","3","Vice Chairman\'s Message","Vice Chairman\'s Message","<p>Vice Chairman&#39;s Message</p>\n","1","","2015-09-25 00:00:04","2015-09-25 00:00:04","7cJV4tYEMcphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("9","3","Group Director\'s Message","Group Director\'s Message","<p>Group Director&#39;s Message</p>\n","1","","2015-09-25 00:00:33","2015-09-25 00:00:33","2EyIrOkb2WphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("10","0","Institution","Institution","<p>Institution</p>\n","1","","2015-09-25 00:02:25","2015-09-25 00:02:25","acE7YGHsg9phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("11","10","Ramgarghia Institute of Engg & Technology","Ramgarghia Institute of Engg & Technology","<p>Ramgarghia Institute of Engg &amp; Technology</p>\n","1","","2015-09-25 00:03:29","2015-09-25 00:03:29","FFfKP3t1WNphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("12","10","Ramgarhia Girls College","Ramgarhia Girls College","<p>Ramgarhia Girls College</p>\n","1","","2015-09-25 00:04:23","2015-09-25 00:04:23","9kv5Kw9GKOphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("13","10","Ramgarhia Ploytechnic College","Ramgarhia Ploytechnic College","<p>Ramgarhia Ploytechnic College</p>\n","1","","2015-09-25 00:04:49","2015-09-25 00:04:49","Mu5znH8h5NphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("14","10","Guru Nanak Bhai Lalo College","Guru Nanak Bhai Lalo College","<p>Guru Nanak Bhai Lalo College</p>\n","1","","2015-09-25 00:05:20","2015-09-25 00:05:20","J993xK618rphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("15","0","Admissions","Admissions","<p>Admissions</p>\n","1","","2015-09-25 00:05:57","2015-09-25 00:05:57","G0cHoXdqdHphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("16","15","Programmes Offered","Programmes Offered","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Programmes&nbsp;Offered</span></p>\n","1","","2015-09-25 00:06:33","2015-09-25 00:06:33","qlQPmxXIRvphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("17","15","Fee Details","Fee Details","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Fee&nbsp;Details</span></p>\n","1","","2015-09-25 00:06:51","2015-09-25 00:06:51","5n2YMwQ2RJphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("18","15","Online Admissions","Online Admissions","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Online&nbsp;Admissions</span></p>\n","1","","2015-09-25 00:07:07","2015-09-25 00:07:07","QrfWwk4eYGphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("19","15","Admission Procedure","Admission Procedure","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Admission&nbsp;Procedure</span></p>\n","1","","2015-09-25 00:07:47","2015-09-25 00:07:47","S9JY9QCXGYphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("20","15","Prospectus/ Brochures/ Forms","Prospectus/ Brochures/ Forms","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Prospectus/ Brochures/ Forms</span></p>\n","1","","2015-09-25 00:08:04","2015-09-25 00:08:04","C9DeKFOcJIphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("21","15","International Students","International Students","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">International Students</span></p>\n","1","","2015-09-25 00:08:23","2015-09-25 00:08:23","6iIL5ENZVZphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("22","15","Admission Form","Admission Form","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Admission&nbsp;Form</span></p>\n","1","","2015-09-25 00:08:37","2015-09-25 00:08:37","Kf8fbO12kYphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("23","15","Anti Ragging","Anti Ragging","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Anti Ragging</span></p>\n","1","","2015-09-25 00:08:57","2015-09-25 00:08:57","aSqdIHJ5x4phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("24","15","Drop Your Query","Drop Your Query","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Drop Your Query</span></p>\n","1","","2015-09-25 00:09:20","2015-09-25 00:09:20","LCy0kwY9SWphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("25","15","Admission Helpline","Admission Helpline","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Admission&nbsp;Helpline</span></p>\n","1","","2015-09-25 00:09:36","2015-09-25 00:09:36","A4uxb872fqphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("26","0","Academics","Academics","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Academics</span></p>\n","1","","2015-09-25 00:10:19","2015-09-25 00:10:19","DfArGc5N11phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("27","26","Campuses","Campuses","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Campuses</span></p>\n","1","","2015-09-25 00:10:40","2015-09-25 00:10:40","4acPOGTqOjphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("28","26","Faculty Profiles","Faculty Profiles","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Faculty&nbsp;Profiles</span></p>\n","1","","2015-09-25 00:10:56","2015-09-25 00:10:56","ZSvCzeHLOjphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("29","26","Faculty Development","Faculty Development","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Faculty&nbsp;Development</span></p>\n","1","","2015-09-25 00:11:12","2015-09-25 00:11:12","g9N87Ntzf2phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("30","26","Academic Achievements","Academic Achievements","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Academic&nbsp;Achievements</span></p>\n","1","","2015-09-25 00:11:28","2015-09-25 00:11:28","HpTHTyxK0VphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("31","26","Academic Linkages","Academic Linkages","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Academic&nbsp;Linkages</span></p>\n","1","","2015-09-25 00:11:43","2015-09-25 00:11:43","5dTYJgEEcUphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("32","26","Scholarships","Scholarships","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Scholarships</span></p>\n","1","","2015-09-25 00:12:01","2015-09-25 00:12:01","pkR6W6IIt9phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("33","26","Scholarship for Gems","Scholarship for Gems","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Scholarship&nbsp;for&nbsp;Gems</span></p>\n","1","","2015-09-25 00:12:15","2015-09-25 00:12:15","p5FS55cIqpphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("34","26","Results","Results","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Results</span></p>\n","1","","2015-09-25 00:12:30","2015-09-25 00:12:30","sNp8R0s8r8phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("35","26","Rules and Regulations","Rules and Regulations","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Rules&nbsp;and&nbsp;Regulations</span></p>\n","1","","2015-09-25 00:12:45","2015-09-25 00:12:45","ET2ICw8PaxphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("36","26","National Service Scheme","National Service Scheme","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">National Service Scheme</span></p>\n","1","","2015-09-25 00:12:58","2015-09-25 00:12:58","ekzntdxiVWphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("37","0","Central Facilities","Central Facilities","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Central Facilities</span></p>\n","1","","2015-09-25 00:13:53","2015-09-25 00:13:53","EEkuWyy8LPphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("38","37","Libraries","Libraries","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Libraries</span></p>\n","1","","2015-09-25 00:14:13","2015-09-25 00:14:13","e0NPoFHynmphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("39","37","Hostels","Hostels","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Hostels</span></p>\n","1","","2015-09-25 00:14:32","2015-09-25 00:14:32","dfaUuIZUe6phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("40","37","Transportation","Transportation","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Transportation</span></p>\n","1","","2015-09-25 00:14:50","2015-09-25 00:14:50","ksDGaHpLAophpBRrD6jPM.jpg");
INSERT INTO pages VALUES("41","37","Gymnasium","Gymnasium","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Gymnasium</span></p>\n","1","","2015-09-25 00:15:12","2015-09-25 00:15:12","XnLmScqZiwphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("42","37","Laboratories","Laboratories","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Laboratories</span></p>\n","1","","2015-09-25 00:15:50","2015-09-25 00:15:50","CUMkKqmb7qphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("43","37","Workshops","Workshops","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Workshops</span></p>\n","1","","2015-09-25 00:16:08","2015-09-25 00:16:08","fD3hYiaxm3phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("44","37","Seminars Halls","Seminars Halls","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Seminars Halls</span></p>\n","1","","2015-09-25 00:16:24","2015-09-25 00:16:24","XHRchkI7YjphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("45","37","Conference Halls","Conference Halls","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Conference&nbsp;Halls</span></p>\n","1","","2015-09-25 00:16:37","2015-09-25 00:16:37","iDmI0sJLjzphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("46","37","e-Theatre","e-Theatre","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">e-Theatre</span></p>\n","1","","2015-09-25 00:16:52","2015-09-25 00:16:52","70KyWI8QTephpBRrD6jPM.jpg");
INSERT INTO pages VALUES("47","37","Class Rooms","Class Rooms","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Class Rooms</span></p>\n","1","","2015-09-25 00:17:04","2015-09-25 00:17:04","utzGffYzjsphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("48","37","Cafeteria","Cafeteria","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Cafeteria</span></p>\n","1","","2015-09-25 00:17:17","2015-09-25 00:17:17","MuzbVJF9fFphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("49","37","Banking","Banking","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Banking</span></p>\n","1","","2015-09-25 00:17:28","2015-09-25 00:17:28","7krqOQyJlHphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("50","37","IT Services","IT Services","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">IT&nbsp;Services</span></p>\n","1","","2015-09-25 00:17:39","2015-09-25 00:17:39","kACx0JdfqophpBRrD6jPM.jpg");
INSERT INTO pages VALUES("51","37","Medical Facilities","Medical Facilities","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Medical Facilities</span></p>\n","1","","2015-09-25 00:17:58","2015-09-25 00:17:58","pFha1qrsiJphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("52","37","Sports Facilities","Sports Facilities","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Sports Facilities</span></p>\n","1","","2015-09-25 00:18:11","2015-09-25 00:18:11","FXtbkn6gnUphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("53","37","Auditorium","Auditorium","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Auditorium</span></p>\n","1","","2015-09-25 00:18:23","2015-09-25 00:18:23","4oUHClHcK1phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("54","37","Admission Cell","Admission Cell","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Admission&nbsp;Cell</span></p>\n","1","","2015-09-25 00:18:42","2015-09-25 00:18:42","n4d0G3Veg0phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("55","37","Administrative Block","Administrative Block","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Administrative&nbsp;Block</span></p>\n","1","","2015-09-25 00:19:01","2015-09-25 00:19:01","YmFg5OLnVCphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("56","37","Reception","Reception","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Reception</span></p>\n","1","","2015-09-25 00:19:13","2015-09-25 00:19:13","Gi00eNVPxhphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("57","37","Hostel Mess","Hostel Mess","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Hostel&nbsp;Mess</span></p>\n","1","","2015-09-25 00:19:30","2015-09-25 00:19:30","fpkUHaU3pyphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("58","37","Other Facilities","Other Facilities","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Other&nbsp;Facilities</span></p>\n","1","","2015-09-25 00:19:45","2015-09-25 00:19:45","0Xh390q7KBphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("59","0","CCPC","CCPC","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">CCPC</span></p>\n","1","","2015-09-25 00:20:06","2015-09-25 00:20:06","x3jWDSPDOophpBRrD6jPM.jpg");
INSERT INTO pages VALUES("60","59","About  Centre for Career Planning & Counseling ","About  Centre for Career Planning & Counseling ","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">About&nbsp; Centre for Career Planning &amp; Counseling </span></p>\n","1","","2015-09-25 00:20:20","2015-09-25 00:20:20","bTpLIydaiPphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("61","59","Our Recruiters","Our Recruiters","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Our&nbsp;Recruiters</span></p>\n","1","","2015-09-25 00:20:36","2015-09-25 00:20:36","4gVkMQmpLlphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("62","59","Industrial Tieups","Industrial Tieups","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Industrial&nbsp;Tieups</span></p>\n","1","","2015-09-25 00:20:49","2015-09-25 00:20:49","ENd8yl4NKEphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("63","59","Events","Events","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Events</span></p>\n","1","","2015-09-25 00:21:04","2015-09-25 00:21:04","XQCncMBBAFphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("64","59","Corporate Registration Form","Corporate Registration Form","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Corporate&nbsp;Registration&nbsp;Form</span></p>\n","1","","2015-09-25 00:21:13","2015-09-25 00:21:13","K2dywJ5IGtphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("65","59","Contact ","Contact ","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Contact&nbsp;</span></p>\n","1","","2015-09-25 00:21:26","2015-09-25 00:21:26","37bzFbM5YSphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("66","0","PR","PR","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">PR</span></p>\n","1","","2015-09-25 00:21:44","2015-09-25 00:21:44","CDYPe0L1DVIMG_20150605_180831.jpg");
INSERT INTO pages VALUES("67","66","About Department of Public Relations","About Department of Public Relations","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">About Department of Public Relations</span></p>\n","1","","2015-09-25 00:22:03","2015-09-25 00:22:03","gtYRGhYknCphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("68","66","CT in News","CT in News","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">CT in News</span></p>\n","1","","2015-09-25 00:22:17","2015-09-25 00:22:17","kytShDRp7BphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("69","66","Cee Tee World  ","Cee Tee World  ","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Cee Tee World </span></p>\n","1","","2015-09-25 00:22:32","2015-09-25 00:22:32","FpoOjdOvFPphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("70","66","Upcoming Events ","Upcoming Events ","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Upcoming Events </span></p>\n","1","","2015-09-25 00:22:48","2015-09-25 00:22:48","whCey4qnovphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("71","66","Team of DPR","Team of DPR","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Team of DPR</span></p>\n","1","","2015-09-25 00:23:01","2015-09-25 00:23:01","GalV2VOnM8phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("72","0","EDC","EDC","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">EDC</span></p>\n","1","","2015-09-25 00:23:24","2015-09-25 00:23:24","5uHZ2ROoByphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("73","72","About EDC","About EDC","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">About EDC</span></p>\n","1","","2015-09-25 00:23:39","2015-09-25 00:23:39","kMFNtHtASbphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("74","72","Proposal for Entrepreneurship Venture     ","Proposal for Entrepreneurship Venture     ","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Proposal for Entrepreneurship Venture </span></p>\n","1","","2015-09-25 00:24:00","2015-09-25 00:24:00","FPgFbR2ZnpphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("75","0","Research","Research","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Research</span></p>\n","1","","2015-09-25 00:24:19","2015-09-25 00:24:19","OPfYduLbjlphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("76","75","Research Incentive Policy","Research Incentive Policy","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Research Incentive Policy</span></p>\n","1","","2015-09-25 00:24:45","2015-09-25 00:24:45","MBITcLQO6IphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("77","75","Conference Publication","Conference Publication","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Conference&nbsp;Publication</span></p>\n","1","","2015-09-25 00:24:57","2015-09-25 00:24:57","Au1dOEPFd3phpBRrD6jPM.jpg");
INSERT INTO pages VALUES("78","75","Journal Publication","Journal Publication","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Journal&nbsp;Publication</span></p>\n","1","","2015-09-25 00:25:13","2015-09-25 00:25:13","MxfDwMXStMphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("79","75","Research Activities","Research Activities","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Research&nbsp;Activities</span></p>\n","1","","2015-09-25 00:25:24","2015-09-25 00:25:24","0RgemnaoqFphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("80","75","Research Projects","Research Projects","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Research&nbsp;Projects</span></p>\n","1","","2015-09-25 00:25:37","2015-09-25 00:25:37","xQX6cbbQbEphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("81","0","Vacancies","Vacancies","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Vacancies</span></p>\n","1","","2015-09-25 00:25:58","2015-09-25 00:25:58","acrVJHW43lphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("82","0","Downloads","Downloads","<p><span style=\"color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px\">Downloads</span></p>\n","1","","2015-09-25 00:26:18","2015-09-25 00:26:18","c2cwpKMqsgphpBRrD6jPM.jpg");
INSERT INTO pages VALUES("83","0","dfds","fdsf","<p>dfdsf</p>\n","0","","2015-09-25 00:52:11","2015-09-25 00:52:11","DqjhbV2PcwphpBRrD6jPM.jpg");



DROP TABLE photos;

CREATE TABLE `photos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `album_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `file` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=latin1;

INSERT INTO photos VALUES("33","17","cat in the manager","KXiSgxFmIDimages (2).jpg","2015-07-19 13:37:54","2015-07-19 13:37:54");
INSERT INTO photos VALUES("35","17","nothing is dangerous","S20V0rD72Tdownload.jpg","2015-07-21 12:17:22","2015-07-21 12:17:22");
INSERT INTO photos VALUES("36","17","Diljit my fav","jkwRPh8VyY10995531_817849294968026_6488341117034090513_n.jpg","2015-09-20 16:48:52","2015-09-20 16:48:52");
INSERT INTO photos VALUES("37","21","fgfdgfdgfdg","LfWe5QuV6fcapture image.png","2015-09-20 16:58:53","2015-09-20 16:58:53");
INSERT INTO photos VALUES("38","21","fgfdgfdg","6hRZPMgC9R10995531_817849294968026_6488341117034090513_n.jpg","2015-09-20 16:51:50","2015-09-20 16:51:50");
INSERT INTO photos VALUES("39","21","","wT8VGIawNt10995531_817849294968026_6488341117034090513_n.jpg","2015-09-20 17:04:12","2015-09-20 17:04:12");
INSERT INTO photos VALUES("41","21","gfgfdgfdgfdg","5qHRgt3qMv10995531_817849294968026_6488341117034090513_n.jpg","2015-09-20 17:04:41","2015-09-20 17:04:41");
INSERT INTO photos VALUES("42","21","","GAEKzO9TAb10995531_817849294968026_6488341117034090513_n.jpg","2015-09-20 17:13:32","2015-09-20 17:13:32");
INSERT INTO photos VALUES("43","20","","SGj8rKIa7h10995531_817849294968026_6488341117034090513_n.jpg","2015-09-22 11:39:27","2015-09-22 11:39:27");
INSERT INTO photos VALUES("44","21","","ZdIbs5LuRR10995531_817849294968026_6488341117034090513_n.jpg","2015-09-22 11:42:41","2015-09-22 11:42:41");



DROP TABLE social_links;

CREATE TABLE `social_links` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `icon` varchar(255) NOT NULL,
  `link` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;

INSERT INTO social_links VALUES("1","Facebook","fa-facebook","http://facebook.com","2015-10-02 19:05:17","2015-10-02 19:05:17");
INSERT INTO social_links VALUES("2","Google Plus","fa-google-plus","http://youtube.com","2015-10-02 19:05:17","2015-10-02 19:05:17");
INSERT INTO social_links VALUES("3","Twitter","fa-twitter","http://twitter.com","2015-10-02 19:05:17","2015-10-02 19:05:17");
INSERT INTO social_links VALUES("4","Youtube","fa-youtube","http://youtube.com","2015-10-02 19:05:17","2015-10-02 19:05:17");
INSERT INTO social_links VALUES("5","LinkedIn","fa-linkedin","http://linkedin.com","2015-10-02 19:05:17","2015-10-02 19:05:17");



DROP TABLE users;

CREATE TABLE `users` (
  `id` int(11) NOT NULL DEFAULT '0',
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `user_first_name` varchar(255) NOT NULL,
  `user_last_name` varchar(25) NOT NULL,
  `gender` varchar(255) NOT NULL,
  `dob` date NOT NULL,
  `is_superuser` int(11) NOT NULL,
  `mobile` bigint(11) NOT NULL,
  `password` varchar(255) NOT NULL,
  `reset_code` varchar(255) NOT NULL,
  `session_id` varchar(255) NOT NULL,
  `remember_token` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00'
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

INSERT INTO users VALUES("1","admin","gopalkumar315@gmail.com","","","","2015-07-27","1","0","$2y$10$JNK5S3pIXJqlwgSOBGYtn.u6tasMRAtcF/FDssg9BvWoNsLa8QimC","","","gi5eqHwGgxy8MizbwqhmeAmxf3gNF8qerdxPefzP4ThcPl3PDzRbuqhZjBTO","2015-09-26 17:18:49","2015-09-26 17:18:49");
INSERT INTO users VALUES("15","user1","user1@gmail.com","first1","last1","female","1994-07-28","2","9874563210","$2y$10$fxFhH2I1QyM3kjw.ZGtzOu7bVoQhaPE90GoJ7eh340fcw5hSDnrSm","","5154d43bd0c543ca9b8204181e611589febcd1c3","LK0gezPrsISLL3vJEcKHwIntIjzgS6bYBJE8QW00PZ3l5WlEMxEbVcOnLaou","2015-07-05 22:40:32","2015-07-05 17:10:32");
INSERT INTO users VALUES("16","user2","user2@gmail.com","first","last","male","1995-07-26","2","9874563210","$2y$10$8FQTKei/AklA6mQYK6u4/.lPY1OUh2FNNEg.OTcuFX0OqIuv8FExy","","66aa7c40dda925e66529c77d05358e502427575b","urYBqSDhst40fRsxwNfr2W579CmRqLcCY3QwiOQUBHo04h8pQVMKmfagfqgD","2015-07-04 22:13:21","2015-07-04 16:43:21");



DROP TABLE video_album;

CREATE TABLE `video_album` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;

INSERT INTO video_album VALUES("4","video_album3","2015-07-21 12:59:32","2015-07-21 12:59:32");
INSERT INTO video_album VALUES("5","video_album4","2015-07-21 12:59:44","2015-07-21 12:59:44");
INSERT INTO video_album VALUES("6","video_album5","2015-07-21 12:59:50","2015-07-21 12:59:50");
INSERT INTO video_album VALUES("7","video_album6","2015-07-21 12:59:57","2015-07-21 12:59:57");
INSERT INTO video_album VALUES("8","video_album7","2015-07-21 13:00:05","2015-07-21 13:00:05");
INSERT INTO video_album VALUES("9","video_album8","2015-07-21 13:00:12","2015-07-21 13:00:12");
INSERT INTO video_album VALUES("10","video_album9","2015-07-21 13:00:49","2015-07-21 13:00:49");
INSERT INTO video_album VALUES("11","fgfd","2015-09-20 17:32:18","2015-09-20 17:32:18");
INSERT INTO video_album VALUES("12","fgfdgfgf","2015-09-20 17:33:17","2015-09-20 17:33:17");



DROP TABLE video_list;

CREATE TABLE `video_list` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `album_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `link` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;

INSERT INTO video_list VALUES("4","10","dfsds","PT-HBl2TVtI","2015-07-22 00:27:31","2015-07-22 00:27:31");
INSERT INTO video_list VALUES("5","10","dfsdfdfdsfsdf","PT-HBl2TVtI","2015-07-22 01:23:02","2015-07-22 01:23:02");



