.form-wizard .steps > li > a.step > .desc
{
    font-size: 14px;
}

.checkbox-inline, .radio-inline {
    padding-left: 0 !important;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 2px !important;
}

.help-block {
    margin-top: 0;
    margin-bottom: 0;
}
.capitalize {
    text-transform: capitalize;
}

.category_color,.category_color:hover{
    color:#000;
    text-decoration: none;
}